*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    background-color: lightcyan;
}
.container{
    width: 1200px;
    height: 600px;
    background-color: black;
    margin: 80px auto;
    

}
.box{
    width: 600px;
    height: 200px;
    background-color: rgb(171, 94, 187);
    text-align: center;
    padding: 100px;
    font-size: 30px;
}

.box_container{
    display: flex;
   
}
.box1{
    background-color: aqua;

}
.box2{
    background-color: rgb(125, 24, 118);
}
.box3{
    background-color: rgb(77, 85, 85);
}
.box4{
    background-color: rgb(122, 198, 1);
}
.box5{
    background-color: rgb(255, 0, 0);
}
.box6{
    background-color: rgb(217, 231, 30);
}